<div class="bio-container">
  <img src="assets/bio.jpg" width="200px" alt="Jon Fearer">
  <div class="bio-description">
    I am a Denver-based software engineer with a background in data and analytics.
    I enjoy Cloud engineering as well as programming in TypeScript, Python and Go.
    <div class="bio-links">
      <a href="https://www.linkedin.com/in/jon-fearer-98097754/">LinkedIn</a>
      <br>
      <br>
      <a href="https://github.com/jon-fearer">GitHub</a>
      <br>
      <br>
      <a href="https://stackoverflow.com/users/9671333/fearerjon">Stack Overflow</a>
    </div>
  </div>
</div>
