.bio-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 470px;

  @media only screen and (max-width: 470px) {
    margin-top: 0px;
  }
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
