.bio-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 470px;

  @media only screen and (max-width: 470px) {
    margin-top: 60px;
  }
}

.bio-description {
  margin-top: 50px;
  font-size: large;
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

.bio-links {
  margin-top: 50px;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
