$primary-grey: #808080;

.post-content-container {
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 470px;
  color: $primary-grey;

  @media only screen and (max-width: 470px) {
    margin-top: 0px;
  }
}
