@import "src/variables";

button {
  margin: 5px;
}

.tag-component-container {
  display: flex;
  justify-content: center;
  background-color: $primary-white;
  border: 1px solid $primary-grey;
}

.tag-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
