button {
  margin: 5px;
}

.tag-component-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.tag-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
