@import "src/variables";

.post-preview-container {
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 470px;
}

.no-posts-description {
  color: $primary-grey;
  font-size: 24px;
  text-align: center;
  margin-top: 200px;
}

.post-summary {
  margin-top: 30px;
}

.post-title {
  color: $primary-grey;
  font-size: 24px;
}

.post-date {
  color: $primary-grey;
  float: right;
  margin-top: 10px;
  display: block;

  @media only screen and (max-width: 470px) {
    display: none;
  }
}

.post-preview-image-container {
  width: 470px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 470px) {
    width: 95vw;
  }
}

img {
  max-width: 100%;
  max-height: 100%;

  @media only screen and (max-width: 470px) {
    max-width: 95vw;
  }
}
