<div class="post-preview-container">
  <div class="no-posts-description" *ngIf="filteredPosts.length === 0">
    <i>No posts found</i>
  </div>
  <div class="post-summary"
       (click)="postSelectEvent.emit(post.path)"
       *ngFor="let post of filteredPosts">
    <span class="post-title">{{ post.title }}</span>
    <span class="post-date">{{ post.postedOn }}</span>
    <div class="post-preview-image-container">
      <img class="post-preview-image" src="{{ post.imagePath }}" alt="{{ post.title }}">
    </div>
  </div>
</div>
