.post-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 60px;
}

.post-title {
  font-weight: bold;
  color: #808080;
  font-size: 24px;
}

.post-date {
  font-weight: bold;
  color: #808080;
  float: right;
  margin-top: 10px;
}

.post-summary {
  width: 470px;
}
