@import "src/variables";

.banner-container {
  background-color: $primary-white;
  border-bottom: 1px solid $primary-grey;
}

.pi {
  color: $primary-grey;
  font-size: 2em;
}

#nav-buttons {
  float: right;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: -215px;

  @media only screen and (max-width: 470px) {
    margin-right: auto;
  }
}

.pi-home {
  margin: 5px;
}

.nav-button {
  margin: 5px;
}

.pi-search {
  margin-right: 10px;

  @media only screen and (max-width: 470px) {
    display: none;
  }
}

#search-input {
  margin: 5px;
  width: 200px;

  @media only screen and (max-width: 470px) {
    display: none;
  }
}

.calendar-tags-container {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

p-calendar {
  margin-top: 10px;
  margin-right: 20px;
  width: auto;
  max-width: 250px;
}

app-tags {
  margin-top: 10px;
  margin-right: 20px;
  width: auto;
  max-width: 200px;
}
