.pi {
  color: #808080;
  font-size: 2em;
}

.banner-container {
  @media only screen and (max-width: 470px) {
    display: none;
  }
}

#nav-buttons {
  float: right;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: -210px;

  @media only screen and (max-width: 470px) {
    margin-right: auto;
  }
}

.nav-button {
  margin-left: 3px;
  margin-right: 3px;
}

.pi-search {
  margin-right: 10px;
}

#search-input {
  width: 200px;
}

p-calendar {
  float: right;
  width: auto;
  max-width: 250px;
}

app-tags {
  float: right;
  width: auto;
  max-width: 200px;
}
