<div class="banner-container">
  <i class="pi pi-home"></i>
  <div id="nav-buttons" [@slide]="searchActivated">
    <i class="pi pi-calendar"
       (click)="toggleCalendar('icon-click')"></i>
    <i class="pi pi-tags"
       (click)="toggleTags('icon-click')"></i>
    <i class="pi pi-search"
       (click)="toggleSearch()"></i>
    <input id="search-input"
      type="text"
      placeholder="Search"
      #search
      (focusout)="toggleSearch()"
      size="25"
      pInputText>
  </div>
</div>
<p-calendar
  [(ngModel)]="value"
  [inline]="true"
  view="month"
  [yearNavigator]="true"
  [yearRange]="yearRange"
  (window:mouseup)="toggleCalendar($event)"
  (onSelect)="filterPosts(value)"
  *ngIf="showCalendar">
</p-calendar>
<app-tags
  (window:mouseup)="toggleTags($event)"
  *ngIf="showTags">
</app-tags>
