.pi {
  color: #808080;
  font-size: 2em;
}

.pi-home {
  margin-left: 10px;

  @media only screen and (max-width: 500px) {
    display: none;
  }
}

.banner-container {
  overflow: hidden;
}

#nav-buttons {
  float: right;
  display: inline-flex;
  margin-right: -200px;

  @media only screen and (max-width: 500px) {
    display: none;
  }
}

.pi-search {
  margin-right: 5px;
}

p-calendar {
  float: right;
  width: 250px;
}

app-tags {
  float: right;
  width: 200px;
}

.pi-bars {
  float: right;
  display: none;
  font-size: 3em;

  @media only screen and (max-width: 500px) {
    display: block;
  }
}
