<div class="banner-container">
  <i class="pi pi-home"
     (click)="homeEvent.emit()"></i>
  <div id="nav-buttons" [@slide]="searchActivated">
    <i class="nav-button pi pi-user"
       (click)="bioEvent.emit()"></i>
    <i class="nav-button pi pi-calendar"
       (click)="toggleCalendar('icon-click')"></i>
    <i class="nav-button pi pi-tags"
       (click)="toggleTags('icon-click')"></i>
    <i class="nav-button pi pi-search"
       (click)="toggleSearch()"></i>
    <input id="search-input"
           type="text"
           placeholder="Search"
           #search
           (focusout)="toggleSearch()"
           pInputText>
  </div>
</div>
<div class="pi-mobile-hamburger-container">
  <i class="pi pi-bars"></i>
</div>
<div>
  <p-calendar
    [(ngModel)]="value"
    [inline]="true"
    view="month"
    [yearNavigator]="true"
    [yearRange]="yearRange"
    (window:mouseup)="toggleCalendar($event)"
    (onSelect)="filterPostsByMonth.emit($event)"
    *ngIf="showCalendar">
  </p-calendar>
  <app-tags
    (window:mouseup)="toggleTags($event)"
    (tagSelectedEvent)="filterPostsByTag.emit($event)"
    *ngIf="showTags">
  </app-tags>
</div>
